<!-- Main Sidebar Container -->
<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">easyCRM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">

                    <a asp-area="secure" asp-controller="Home" asp-action="index" class="nav-link">

                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            Pano
                           
                        </p>
                    </a>
                    </li>
                <li class="nav-item">

                    <a asp-area="secure" asp-controller="Leave" asp-action="index" class="nav-link">

                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            İzin Yönetimi

                        </p>
                    </a>
                </li>
                <li class="nav-item">

                    <a asp-area="secure" asp-controller="Employee" asp-action="index" class="nav-link">

                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            Çalışan Yönetimi

                        </p>
                    </a>
                </li>

                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            Tanımlamalar

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                   <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Raporlar

                        </p>
                    </a>
                </li>

                           <li class="nav-item">
                    <a href="#" class="nav-link">
                   <i class="nav-icon fas fa-unlock-alt"></i>
                        <p>
                            Sistem Yönetimi
                               <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>

                     <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Yetkilendirme</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Roller</p>
                            </a>
                        </li>

                          <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Sistem Ayarları</p>
                            </a>
                        </li>

                    </ul>


                </li>



            </ul>
        </nav>

        <div class="os-scrollbar-corner"></div>
    </div>

    <div class="sidebar-custom">
        <a href="/Secure/Setting/Index" class="btn btn-secondary"><i class="fas fa-cogs"></i></a>
        <!--<a href="#" class="btn btn-link hide-on-collapse pos-right"><i class="fas fa-question-circle"></i></a>-->
        <a href="#" class="btn btn-danger btn-md hide-on-collapse pos-right"><i class="fas fa-power-off"></i></a>
        
    </div>

    <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
</aside>