@{
    Layout = "_Layout";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">İzin  Yönetimi</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">

                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> </a></li>
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-tasks"></i> </a></li>
            </div><!-- /.col -->
        </div>
        <!-- /.c
        </div><!-- /.row -->
    </div>



    <div class="card-header" style="background-color:#6c757d">

     

    </div>
    <div class="card-body" ng-app="LeaveRequestApp" ng-controller="LeaveRequestController">

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>

                    <th>Çalışan Adı</th>

                    <th>Başlangıç Tarihi</th>

                    <th>Bitiş Tarihi</th>
                    <th>İzin Tipi</th>

                    <th>Durum</th>
                    
                    <th>Oluşturulma Tarihi</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in leaveRequestList">



                    <td>{{ e.employeeName }}</td>

                    <td>{{ e.startedDate | date:'d-M-yyyy, h:mm'}}</td>

                    <td>{{ e.finishedDate| date:'d-M-yyyy, h:mm' }}</td>
                    <td>{{e.leaveTypeName}}</td>

                    <td>
 
                        <div *ng-if="e.isApprove ==true">
                            <a class="btn btn-primary" ng-clik="ChangeApproved(e.Id)">Onayla</a>
                        </div>
                        <div *ng-if="e.isApprove === false">
                            <a class="btn btn-primary" ng-clik="ChangeApproved(e.Id)">Onayı Kaldır</a>
                        </div>

                        
                        


                    <td>{{ e.createdDate | date:'d-M-yyyy, h:mm'}}</td>



                </tr>
            </tbody>
        </table>




    </div>

</div>




@section dataTableJsSection{

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>





}

@section dataTableCssSection{


    <!-- DataTable s -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- DataTables -->
}
